@import "tailwindcss";

@theme {
  --color-blue-dark: #1c398e;
  --color-gray-light: #adb4b8;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.text-font-family {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-shadow {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6))
}

.custom-clip-path {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0 0);
}

/* Animación actividades por la zona */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease-out both;
}

.fadeInRight {
  animation: fadeInRight 1s ease-out both;
}

.animated-gradient {
  background: linear-gradient(270deg, #276acf, #2a4a5d);
  background-size: 300% 300%;
  animation: gradient-x 10s ease infinite;
}

.primary-button {
  @apply py-2 px-6 bg-transparent md:bg-blue-dark text-white text-2xl flex justify-center font-extrabold border-8 border-double border-white md:border-blue-dark rounded-full cursor-pointer hover:text-blue-dark hover:bg-white duration-500
}

.secondary-button {
  @apply bg-transparent border-blue-dark border-double border-6 rounded-full text-blue-dark text-lg font-light hover:text-white hover:bg-blue-dark duration-500
}

.third-button {
  @apply py-2 px-8 mt-8 bg-transparent flex justify-center text-white text-2xl font-extrabold border-8 border-double border-white rounded-full cursor-pointer hover:text-blue-dark hover:bg-white duration-500
}

.icon-hover {
  @apply transform transition duration-200 hover:scale-125 text-blue-dark cursor-pointer
}