---

---

<section id="hero" class="relative h-screen">
  <img
    src="/images/9.webp"
    alt="Vista del local Parabrisas Norte en Córdoba"
    aria-label="Vista del local Parabrisas Norte en Córdoba"
    class="h-screen w-screen object-center overflow-hidden"
    width="1920"
    height="1080"
    loading="lazy"
  />

  <div class="absolute inset-0 bg-black opacity-70 md:mt-0"></div>

  <div
    class="absolute inset-0 flex flex-col justify-center gap-30 md:gap-10 items-center px-10 md:px-20"
  >
    <div
      class="fadeInLeft flex flex-col gap-2 w-full md:w-[70%] md:mt-60 custom-shadow"
    >
      <img
        src="/images/PARABRISAS_NORTE_LOGO_WHITE.png"
        alt="Logo de Parabrisas Norte"
        aria-label="Logo de Parabrisas Norte"
        class="block md:hidden lg:hidden custom-shadow fadeInRight"
        loading="lazy"
      />
      <h2
        class="text-white text-center text-4xl lg:text-7xl md:text-6xl font-black hidden md:block lg:block"
      >
        Venta y colocación de cristales para automotores
      </h2>
      <span class="text-white lg:text-2xl tracking-widest text-center">
        +24 años en la industria. Trabajamos con todas las marcas.
      </span>
    </div>
    <a
      href="#contact"
      class="primary-button text-font-family w-full md:w-fit lg:w-fit fadeInLeft custom-shadow"
    >
      Cotizá ahora
    </a>
  </div>
</section>
