---
const phoneNumber = "+5493514705050";
---

<section
  class="flex lg:flex-row md:flex-col items-center justify-around py-12 px-8 md:pt-12 md:pb-16 lg:py-10 animated-gradient"
>
  <img
    src="/images/PARABRISAS_NORTE_BLANCO_2.png"
    alt="Logo de Parabrisas Norte"
    width="340px"
  />
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-3xl font-bold text-white mb-4">
      ¿Tenés alguna duda? Contactate con nosotros
    </h2>
    <p class="text-white text-xl text-center mb-6">
      Nos manejamos bajo los estándares más completos de seguridad y servicio,
      tenemos stock en cristales tanto originales como alternativos.
    </p>
    <a
      href={`tel:${phoneNumber}`}
      class="flex items-center justify-center third-button text-font-family custom-shadow group"
    >
      Llamanos por teléfono
    </a>
  </div>
</section>
