---
const phoneNumber = "+5493517284662";
---

<nav class="bg-white fixed w-full z-20 top-0 start-0 shadow">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="/"
      class="flex items-center space-x-3"
      astro-prefetch="hover"
      aria-label="Ir a la página principal"
    >
      <img
        src="/images/PARABRISAS_NORTE_LOGO.png"
        alt="Logo de Parabrisas Norte"
        width="1279"
        height="468"
        class="hidden md:block lg:block w-[180px] mt-3"
        loading="lazy"
      />
      <img
        src="/images/PARABRISAS_NORTE_EXPANDED.png"
        alt="Logo de Parabrisas Norte"
        width="1279"
        height="468"
        class="sm:block md:hidden lg:hidden w-[180px] mt-3"
        loading="lazy"
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a
        href={`tel:${phoneNumber}`}
        class="secondary-button text-font-family md:py-1 lg:py-1 px-6 hidden md:block lg:block"
        astro-prefetch="hover">Contactanos</a
      >
      <button
        id="menu-button"
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-blue-dark rounded-lg md:hidden outline-none cursor-pointer self-center"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Abrir menú de navegación</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0"
      >
        <li>
          <a
            href="#about"
            class="block py-2 px-3 text-blue-dark text-lg font-bold text-font-family capitalize md:bg-transparent md:p-0 hover:text-blue-900"
            aria-current="page">Quiénes somos</a
          >
        </li>
        <li>
          <a
            href="#services"
            class="block py-2 px-3 text-blue-dark text-lg font-bold text-font-family capitalize md:bg-transparent md:p-0 hover:text-blue-900"
            aria-current="page">Servicios</a
          >
        </li>
        <li>
          <a
            href="#contact"
            class="block py-2 px-3 text-blue-dark text-lg font-bold capitalize text-font-family md:bg-transparent md:p-0 hover:text-blue-900"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const initializeNavbar = () => {
    const currentPath = window.location.pathname;
    const menuButton = document.getElementById("menu-button");
    const navbarSticky = document.getElementById("navbar-sticky");

    if (menuButton && navbarSticky) {
      const oldMenuButton = menuButton;
      const clonedMenuButton = oldMenuButton.cloneNode(
        true
      ) as HTMLButtonElement;
      oldMenuButton.parentNode?.replaceChild(clonedMenuButton, oldMenuButton);

      clonedMenuButton.addEventListener("click", () => {
        navbarSticky.classList.toggle("hidden");
        const isExpanded = navbarSticky.classList.contains("hidden")
          ? "false"
          : "true";
        clonedMenuButton.setAttribute("aria-expanded", isExpanded);
      });
    }

    if (!navbarSticky) return;
    const navLinks = navbarSticky.querySelectorAll("a");

    navLinks.forEach((link) => {
      if (!link.hasAttribute("data-listener-attached")) {
        link.addEventListener("click", (event) => {
          event.preventDefault();

          const href = link.getAttribute("href");
          if (!href) return;

          if (href.startsWith("#")) {
            if (currentPath !== "/") {
              window.location.href = `/${href}`;
            } else {
              const targetId = href.substring(1);
              const targetElement = document.getElementById(targetId);
              if (targetElement) {
                targetElement.scrollIntoView({ behavior: "smooth" });
              }
            }
          } else {
            window.location.href = href;
          }

          if (!navbarSticky.classList.contains("hidden")) {
            navbarSticky.classList.add("hidden");
            const currentMenuButton = document.getElementById("menu-button");
            if (currentMenuButton) {
              currentMenuButton.setAttribute("aria-expanded", "false");
            }
          }
        });
        link.setAttribute("data-listener-attached", "true");
      }
    });
  };

  document.addEventListener("DOMContentLoaded", initializeNavbar);
  document.addEventListener("astro:page-load", initializeNavbar);
</script>
